<div class="bg-danger text-white">
    <div class="container p-5 footer">
        <div class="row f-links">
            <div class="col">
                <h2>Neema Otpticals</h2>
                <p></p> <!-- tagline or description  -->
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>Home</p>
                        <p>Products</p>
                        <p>Contact Us</p>
                        <p>About Us</p>
                        <p>Sign In</p>
                    </div>
                    <div class="col">
                        <p>Shop for men</p>
                        <p>Shop for women</p>
                        <p>Shop for kid's</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row f-media">
            <div class="col f-copy-right">
                @2020 Copyright: Neema.com
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">Fb</div>
                    <div class="col">Ista</div>
                    <div class="col">Tweet</div>
                    <div class="col">G-mail</div>
                </div>
            </div>
        </div> <!-- copyright and media-->
    </div>
</div>