.img-dimension {
    height: 300px;
}

.btn-shop {
    width: 25%;
}

@media (max-width: 769px) {
    .b-shrink {
        align-items: center;
        flex-direction: column;
    }
    .btn-shop {
        width: 50%;
    }
}
